@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import "tailwindcss";

/*Satoshi Font*/

@font-face {
  font-family: "Satoshi";
  src: url(./assets/fonts/Satoshi/Satoshi-Light.woff2) format(woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Satoshi";
  src: url(./assets/fonts/Satoshi/Satoshi-Regular.woff2) format(woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url(./assets/fonts/Satoshi/Satoshi-Medium.woff2) format(woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi";
  src: url(./assets/fonts/Satoshi/Satoshi-Bold.woff2) format(woff2);
  font-weight: 700;
}

/*Saans Font*/
@font-face {
  font-family: "Saans";
  font-weight: 300;
  src: url(./assets/fonts/Saans/Saans-Light.woff2) format(woff2);
}
@font-face {
  font-family: "Saans";
  font-weight: 400;
  src: url(./assets/fonts/Saans/Saans-Regular.woff2) format(woff2);
}
@font-face {
  font-family: "Saans";
  font-weight: 500;
  src: url(./assets/fonts/Saans/Saans-Medium.woff2) format(woff2);
}

@font-face {
  font-family: "Saans";
  font-weight: 700;
  src: url(./assets/fonts/Saans/Saans-Bold.woff2) format(woff2);
}

@theme {
  --pearl: #f7f7f5;
  --rock: #171717;
  --rock-light: #262626;
  --rock-xlight: #404040;
  --input-background: #dfdfdf;
  --rock-xxlight: #525252;
  --feather: #737373;
  --feather-light: #a3a3a3;
  --feather-xlight: #d4d4d4;
  --feather-xxlight: #e5e5e5;
  --paper-white: #f5f5f5;
  --paper-white-light: #fafafa;
  --keyask-green: #92e847;

  --font-satoshi: "Satoshi", sans-serif;
  --font-saans: "Saans", sans-serif;
}

:root {
  font-family: "Satoshi", "Saans";
  background-color: var(--pearl);
  color: var(--rock);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fade-in {
  opacity: 0;
}

.no-js .fade-in {
  opacity: 1;
}

#cursor-ring,
#cursor-pointer {
  display: none;
}

/* On medium screens and up, display the custom cursor */
@media (min-width: 768px) {
  #cursor-ring,
  #cursor-pointer {
    display: block;
  }

  :root {
    cursor: none;
  }
  a:hover {
    cursor: none;
  }
}

html {
  font-size: 14px; /* 1rem = 16px on mobile */
}

@media (min-width: 768px) {
  html {
    font-size: 16px; /* 1rem = 18px on tablets (md breakpoint) */
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px; /* 1rem = 20px on desktops (lg breakpoint) */
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 20px; /* 1rem = 22px on large desktops (2xl) */
  }
}

.h1 {
  font-size: 6.875rem;
  font-family: "Saans";
  line-height: 120%;
}
.h2 {
  font-size: 4.25rem;
  font-family: "Saans";
  line-height: 120%;
}

.title-1 {
  font-size: 2.625rem;
  line-height: 140%;
  font-family: "Satoshi";
}
.title-2 {
  font-size: 1.625rem;
  line-height: 140%;
  font-family: "Satoshi";
}

.title-3 {
  font-size: 1.375rem;
  line-height: 140%;
  font-family: "Satoshi";
}
.body {
  font-size: 1.125rem;
  line-height: 150%;
  font-family: "Satoshi";
}
.caption {
  font-size: 0.625rem;
  line-height: 150%;
  font-family: "Satoshi";
}

.cursor-text {
  font-size: 0.1rem;
  line-height: 150%;
  font-family: "Satoshi";
}

.cursor-link-text {
  font-size: 0.3rem;
  line-height: 150%;
  font-family: "Satoshi";
}

.project-detail {
  font-size: 0.9rem;
  line-height: 150%;
  font-family: "Satoshi";
}
.major-mono-display {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

.line-height-150 {
  line-height: 150%;
}

.line {
  transform: scaleX(0);
  transform-origin: left;
  height: 2px;
}

.wiper {
  transform: scaleX(0);
  transform-origin: left;
}

.scramblename {
  line-height: 100%;
}

.role-inverted {
  z-index: -10;
}

.role-inverted {
  /* This is the magic for the reflected, outlined text */
  -webkit-text-stroke: 1px var(--rock);
  -webkit-text-fill-color: transparent;
  transform: rotateX(180deg);
}

.project-step-row {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.about-row {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .project-step-row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .about-row {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  }
}
