@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "SatoshiVariable";
    src: url(./assets/fonts/Satoshi/Satoshi-Variable.woff)
    format(woff2-variations);
  font-weight: 300 900;
}

/*noinspection ALL*/
@font-face {
  font-family: "Saans";
  font-weight: 300;
  src: url(./assets/fonts/Saans/Saans-Light.woff2) format(woff2);
}
@font-face {
  font-family: "Saans";
  font-weight: 400;
  src: url(./assets/fonts/Saans/Saans-Regular.woff2) format(woff2);
}
@font-face {
  font-family: "Saans";
  font-weight: 500;
  src: url(./assets/fonts/Saans/Saans-Medium.woff2) format(woff2);
}

@font-face {
  font-family: "Saans";
  font-weight: 700;
  src: url(./assets/fonts/Saans/Saans-Bold.woff2) format(woff2);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

    background-color: var(--pearl);
    color: var(--rock);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.major-mono-display {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}



@theme {
  --pearl: #f7f7f7;
  --rock: #171717;

  --font-satoshi: "SatoshiVariable", sans-serif;
  --font-saans: "Saans", sans-serif;
}

.line {
  transform: scaleX(0);
  transform-origin: left;
  height: 2px;
}

.wiper {
  transform: scaleX(0);
  transform-origin: left;
}

.scramblename {
  line-height: 100%;
}

.role-inverted{
    z-index: -10;
}

.role-inverted {
  /* This is the magic for the reflected, outlined text */
  -webkit-text-stroke: 1px var(--rock);
  -webkit-text-fill-color: transparent;
  transform: rotateX(180deg);
}


